.main {
    height:100vh;
    
    .category-container{
        height: 100vh;
        scroll-behavior: smooth;
    }

    .projects-container{
        height: 150vh;
        scroll-behavior: smooth;
    }
}

@media screen and (max-width: 900px) {
    .main {
        h1 {
            margin: 5;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .featured-posts-container {
            flex-direction: column;
        }
    }
}