@font-face {
    font-family: 'Lato-Thin';
    src: url('./../fonts/Lato-Thin.ttf');
}

.site-navigation{
    background-color: #444;
    height: 8vh;
    color: $text-color;
    position: fixed;
    z-index: 100;
    width: 100%;

    .your-name{
        position: relative;
        text-align: center;
        top: 20%;
        font-family: Lato-Thin;
        font-size: 2em;
    }

    //hamburger icon
    .menu-container {
        position: relative;
        float: left;
        left: 2%;
        top: -35%;
    }    

    ul {
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin: 0 20px 0 50px;

        a {
            text-decoration: none;
            padding: 0 20px 0 20px;
            font-size: 20px;
            color: $text-color;

            &:hover {
                color: $text-link;
            }
        }
        //padding vs margin
        //padding: space between and element and the content inside it
        //margin: space around an element
    }
}

//handles the specific screen size to show menu
//HANDLE CLICKING OFF SCREEN MENU CLOSE; mouse enter/leave event listener on menu container
.site-navigation {
    .menu-content-container {
        height: 100vh;
        width: 300px;
        background: #444;
        position: fixed;
        transition: 0.4s ease-out;
        padding-top: 15%;
        left: -300px;

        ul {
            flex-direction: column;
            justify-content: flex-start;

            li {
                text-align:left;
                height: 65px;
                display: flex;
                align-items: center;
            }
            a {
                padding: 20px 15px;
                width: 100%;
            }
        }

        ul, li {
            width: 100%;
        }
    }


    
    //.active is equivalent to .menu-content-container.active
    //meaning both classes (menu-content-container and active)
    //appending next class
    &.active {
        .menu-content-container {
            left: 0px;
        }
    }

    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
         } 
    } 
}

