@font-face {
    font-family: 'Lato-Thin';
    src: url('./../fonts/Lato-Thin.ttf');
}

.site-navigation {
    background: #444;
    height: 7vh;
    width: 100%;
    left: 0;
    color: $text-color;
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;


    .your-name {
        display: flex; /* the default for span */
        font-size: 25px;
        font-family: Lato-Thin;
        height: 100%;
        width:95%;       
        letter-spacing: .5em;
        word-spacing: 0em;
        text-align: center;
        justify-content: center;
        padding-top: 1%;
    }

    //this needs to be fixed actually CANT MOVE IT
    .hamburger-menu {

    }    

    ul {
        height: 100%;
        list-style-type: none;

        a {
            text-decoration: none;
            font-size: 20px;
            color: $text-color;

            &:hover {
                color: $text-link;
            }
        }
        //padding vs margin
        //padding: space between and element and the content inside it
        //margin: space around an element
    }
}

//handles the specific screen size to show menu
//HANDLE CLICKING OFF SCREEN MENU CLOSE; mouse enter/leave event listener on menu container
.site-navigation {
    .menu-content-container {
        width: 200px;
        height: 300px;
        background: #444;
        position: fixed;
        top: -300px;
        left: 89vw;
        transition: 0.4s ease-out;
        padding-top: 1vh;

        ul {
            //nav-links
            a {
                width: 100%;
                text-align:center;
                height: 60px;
            }
        }

        ul, li {
            width: 100%;
        }
    }


    
    //.active is equivalent to .menu-content-container.active
    //meaning both classes (menu-content-container and active)
    //appending next class
    &.active {
        .menu-content-container {
            right: 200px;
            top: 7vh;
        }
    }

    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
         } 
    } 
}

