.custom-terminal{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 99;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}