@import './variables';
@import './navigation';
@import './main';
@import './home';
@import './about';

body, html {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
    

.overlay::before {    
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%)
}